*{
    margin: 0;
    padding: 0;
}
.box{
    width: 400px;
    height:300px;
    border: 2px solid lightseagreen;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    background-color:lightskyblue ;
    color: rgb(3, 99, 67);
    font-weight: 500;
    text-shadow: 5px 5px 5px white;
}

.box input{
     margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: coral;
    
    font-weight: 700;
}

.box button{
    margin: 10px;
    color:  white;
    background-color: rgb(158, 158, 252);
    border: none;
     font-weight: 600;
    padding: 8px;
    border-radius: 5px;
    text-shadow: 5px 5px 5px blue;
}

.box h3{
    font-family: cursive;
}